#nav-principal li > p {
    font-size: 50px;
}

.nav-pills li > #selecionada {
    background-color: darkblue;
}

 .nav-pills li > #selecionada {
    background-color: darkblue;
}

.nav-pills li a:hover {
    background-color: darkblue;
}

#menu-hamburguer {
    margin-right: 10px;
    border: none;
}



body {
    line-height: 1.7;
}

.mr-5 {
    margin-right: 9rem
}

#nav-principal ul li > p {
    font-weight: bold;
}

.nav-item > p {
    margin-right: 9rem;
}

#nav-lateral a {
    font-size: 20px;
}

#nav-lateral div > #titulo-menu {
    font-size: 30px;
    font-weight: bold;
}

#nav-lateral-2 {
    position: absolute;
    z-index: 1;
}

#nav-lateral-2 a {
    font-size: 20px;
}

#nav-lateral-2 div > #titulo-menu {
    font-size: 30px;
    font-weight: bold;
}

.card-header {
    font-size: 20px;
}

#btn-salvar span {
    font-weight: bold;
}

#form-login > #bem-vindo {
    font-size: 30px;
    text-align: center;
}